@import '../../assets/colors.scss';

.page-settings {
    padding: 30px 5vw;
    max-width: 100%;
    max-height: 100%;

    h1 {
        margin-bottom: 20px;
    }

    form {
        border: 1px solid black;
        margin-top: -1px;
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        vertical-align: middle;
        justify-content: space-between;


        .info {
            h2 {
                line-height: 1.6rem;
                margin-bottom: 0.5rem;
                color: $title;
            }

            p {
                margin: 0;
                color: $subtitle;

            }
        }

        .field {
            margin-top:auto;
            margin-bottom:auto;

            .error-message {
                margin-right: 10px;
                u {
                    color: $error;
                }
            }

            input {
                height: 25px;
                border: 1px solid $subtitle;
                border-radius: 5px;
                margin-right: 10px;
                padding: 0 0 0 5px;
                background-color: transparent;
            }

            button {
                background-color: transparent;
                height: 25px;
                padding: 0;
                border: 1px solid $subtitle;
                border-radius: 5px;
                vertical-align: middle;
                &:hover {
                    cursor:pointer;
                }
            }

            .submit {
                transition: max-width 0.3s linear;
                -o-transition: max-width 0.3s linear;
                -moz-transition: max-width 0.3s linear;
                -webkit-transition: max-width 0.3s linear;
                max-height: 100%;
                height: 100%;
                max-width: 100%;
                padding: 5px;
                border-radius: 5px;
                &.success {
                    background-color: rgba($success, 0.5);
                    animation: blink 1s;
                }
            }
        }
    }

    button {

    }
}

@keyframes blink {
    0% {    opacity: 0;  }
    25% {    opacity: 1;  }
    75% {    opacity: 1;  }
    100% {    opacity: 0;  }
}
