@import '../../assets/colors.scss';

.clickable {
    cursor:pointer;
    display:flex;
    justify-content:space-between;

    .icon {
        position: relative;
        height: 17px;
        width: 16px;
        top: 1px;
    }
}
