@import '../../assets/colors.scss';

.overview {
    padding: 30px 5vw;
    max-width: 100%;
    max-height: 100%;

    h1 {
        margin-bottom: 20px;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        cursor: help;
        &:hover .tooltiptext {
            visibility: visible;
        }
        .tooltiptext {
            padding: 5px;
            width: 450px;
            background:white;
            position: absolute;
            z-index: 100;
            visibility: hidden;
            top: -5px;
            left: 105%;
            .icon {
                top: 0px;
            }
        }
    }
    table {
        border: 1px solid black;
        border-spacing: 0px;
        th, td {
            border: 1px solid black;
            padding: 5px;
        }
        .id, .psbt {
            text-align:center;
        }

    }
}
